@page "/detail-student"
@inject HttpClient Http
@using HomeWork.Blazor.Shared

<PageTitle>Student</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Homework Detail Page</MudText>
@if (schedules == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else
{
    <MudTable Items="schedules" Hover="true" SortLabel="Sort By" Elevation="0" Style="width: 80%; background-color: gainsboro">
        @*<HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<Schedules, object>(x=>x.Task!)">Mavzu</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<Schedules, object>(x=>x.Date)">Date</MudTableSortLabel></MudTh>
        </HeaderContent>*@
        <RowTemplate>
            <div class="schedules">
                <MudText DataLabel="Summary">@context.Task</MudText>
                <div class="detailPage">
                    <MudText DataLabel="Summary">@context.Description</MudText>
                    <MudText DataLabel="Date">@context.Date</MudText>
                </div>
                <MudTextField T="string" Label="Multiline" Variant="Variant.Text" Lines="2" Style="width:100%; margin-top: 10px; margin-bottom: 10px" />
                <div class="studentFiles">
                    <div class="files">
                        <input type="file" class="btn" id="myFile" name="filename">
                    </div>
                </div>
            </div>
            
        </RowTemplate>
    </MudTable>
}

@code {
    private Schedules[]? schedules;

    protected override async Task OnInitializedAsync()
    {
        schedules = await Http.GetFromJsonAsync<Schedules[]>("sample-data/detail.json");
    }
    public class Schedules
    {
        public DateTime Date { get; set; }

        public string? Description { get; set; }

        public string? Task { get; set; }
    }
}

<style>
    .detailPage {
        display: flex;
        justify-content: space-between;
    }
    .schedules {
        padding: 10px 20px;
        margin: 10px 1px;
        background-color: white;
        border-radius: 10px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    tr {
        background-color: gainsboro;
    }
    .mud-table-hover .mud-table-container .mud-table-root .mud-table-body .mud-table-row:hover {
        background-color: gainsboro;
    }
</style>